* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #333333;

  height: 100%;
  font-size: 17px;
  line-height: 25px;
}

body {
  overflow-x: hidden;
}

.hero-img {
  padding-top: 100px;
}
.menu {
  z-index: 1;
  padding: 4px;
}

body {
  margin: 0 auto;
}

p {
  font-size: 17px;
  line-height: 29px;
}

.role p {
  line-height: 25px;
}

hr {
  margin: 80px 0;
  border: 1px solid #ae8d92;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
}

td {
  font-size: 17px;
  line-height: 29px;
}

.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.85;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

#navigation-bar > ul {
  display: flex;
  left: 0px;
}

#navigation-bar > ul > li {
  list-style-type: none;
  font-size: 18px;
  padding: 4px 26px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#navigation-bar > ul > li.active {
  font-weight: 600;
}

#navigation-bar > ul > li.border:hover:after {
  width: 0px; /** Prevents contact menu item from having underline hover effect */
}

#navigation-bar > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}

.hero-img {
  text-align: right;
}
.hero-img > img {
  padding-right: 80px;
}

.introduction > ul {
  display: flex;
}

.introduction > ul > li {
  border: 3px solid #ae8d92;
  list-style-type: none;
  padding: 4px 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction > ul > li.inverted {
  color: white;
  background-color: #ae8d92;
}

.introduction > ul > li > a {
  text-decoration: none;
  color: #ae8d92;
}

#li-contact {
  background-color: #ae8d92;
}

#li-contact > a {
  color: white;
}

#li-contact:hover > a {
  color: #ae8d92;
}

#li-contact:hover {
  background-color: transparent;
}

.plain-invertible:hover {
  background-color: #ae8d92;
}

.plain-invertible:hover > a {
  color: white;
}

.work > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work > ul > li {
  list-style-type: none;
  color: #70474d;
  font-weight: 400;
  background-color: #fbf0eb;
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 14px;
  margin-bottom: 4px;
}

.work > ul > li:not(:last-child) {
  margin-right: 5px;
}

.flex-list {
  display: flex;
  padding-left: 0px; /** Browsers add a 40px when you include display: flex on a ul */
  align-items: center;
}

.full-case-study-link {
  display: flex;
  align-items: center;
}

.full-case-study-link > a {
  color: #333333;
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
  text-decoration: none;
}

.full-case-study-link {
  color: #333333;
}

#view-all-case-studies-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-all-case-studies-2 {
  padding: 0;
}

#view-all-case-studies-2 > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ae8d92;
  border-radius: 20px;
  padding: 4px 48px;
  background-color: transparent;
}

#view-all-case-studies-2 a {
  color: #ae8d92;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.view-all-case-studies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.view-all-case-studies > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ae8d92;
  border-radius: 20px;
  padding: 4px 48px;
}

.view-all-case-studies > span > a {
  color: #ae8d92;
  text-decoration: none;
  text-align: center;
}

.process > img {
  width: 100%;
}

.lets-talk-buttons {
  margin-top: -50px;
}

.lets-talk-buttons > * {
  margin-top: 70px;
}

.lets-talk-buttons > p {
  width: 512px;
}

.lets-talk-buttons > ul > li {
  border: 3px solid #ae8d92;
  list-style-type: none;
  border-radius: 20px;
  width: 300px;
  display: flex;
  align-items: center;
}

.lets-talk-buttons > ul > li:not(:last-child) {
  margin-right: 16px;
}

.lets-talk-buttons > ul > li > a {
  color: #ae8d92;
  margin: 8px auto;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.lets-talk-buttons.project > ul > li {
  width: 100%;
  margin: 8px 8px;
}

#main {
  margin-bottom: 100px;
}

.footer {
  height: 160px;
  background: #bba7a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  margin-top: 0px;
}

.icons > a {
  margin-right: 40px;
}

.copyright > p {
  color: #f8f7f4;
  letter-spacing: 0.2em;
}

table {
  width: 100%;
  border-spacing: 10px 0;
}

/** Project Page */
.project-description {
  text-align: center;
  display: flex;
  justify-content: center;
}

.return-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.return-to-top a {
  text-decoration: none;
  color: #ae8d92;
  font-size: 14px;
}

.return-to-top > img {
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #meshi-logo {
    height: 92px;
  }

  .user-metrics > .row > .col:nth-child(3) {
    flex-basis: 100%;
    padding-left: 0px;
  }

  .final-product,
  .user-metrics,
  .user-survey,
  .slim .rounded-b-div,
  .slim .h3-icon,
  .slim ul,
  .slim ol,
  .slim p,
  .slim div.roles,
  .slim td,
  .slim hr {
    max-width: 304px;
    margin-right: auto;
    margin-left: auto;
  }

  .bio {
    max-width: 304px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tools img {
    width: 35%;
    height: 100%;
  }

  .inset-img {
    padding: 0 120px;
    width: 100%;
  }

  .bio {
    max-width: 565px;
  }

  .final-product,
  .user-metrics,
  .user-survey,
  .slim .rounded-b-div,
  .slim .h3-icon,
  .slim ul,
  .slim ol,
  .slim p,
  .slim div.roles,
  .slim td,
  .slim hr {
    max-width: 565px;
    margin-right: auto;
    margin-left: auto;
  }

  .color-swatches img {
    max-width: 565px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tools img {
    width: 40%;
    height: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .project-description.meshi + div {
    margin-top: 160px !important;
  }
  .case-studies a > img {
    width: 303px;
    height: 176px;
  }

  .meshi.view .flex-list {
    display: flex;
    flex-direction: column;
  }

  h1 {
    line-height: 40px;
  }

  .meshi.view li {
    width: 100% !important;
    /* margin: unset !important; */
  }

  .busy-bus-video {
    display: block;
    height: 515px;
    width: 365px;
    max-width: 100%;
    margin: 0 auto;
  }

  .meshi-video {
    display: block;
    width: 160px;
    height: 315px;
    margin: 0 auto;
  }
  .target-images-1 img {
    width: 116px !important;
    height: 251px !important;
  }

  img.ios-screen-resolution {
    width: 116px !important;
    height: 251px !important;
  }

  img.ios-device-resolution {
    width: 160px !important;
    height: 314px !important;
  }

  img[desktop] {
    display: none;
  }
  img[mobile] {
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  .role > .inline {
    display: flex;
    align-items: center;
  }

  .role > .inline > h3 {
    margin: 0 16px;
  }

  #meshi-logo {
    height: 92px;
  }

  .wireframe-gallery {
    display: flex;
    overflow: scroll;
    /* position: relative; */
  }

  .wireframe-gallery > img {
    height: 411px;
    padding: 0 8px;
  }

  .wireframe-gallery img:first-child {
    padding-left: 0px;
  }

  .wireframe-gallery img:last-child {
    padding-right: 0px;
  }

  .carousel {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .carousel > .left,
  .carousel > .right {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    background: linear-gradient(180deg, #fbefeb 0%, #ffffff 100%);
  }

  section.linking {
    display: none;
  }

  .inset-img {
    width: 100%;
  }

  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;

    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    z-index: 6;
  }

  .hamburger.is-active:hover,
  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner:after,
  .hamburger.is-active .hamburger-inner:before {
    background-color: #ae8d92;
  }

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #ae8d92;
  }

  .hamburger-inner:after,
  .hamburger-inner:before {
    display: block;
    content: "";
  }

  .hamburger-inner:before {
    top: -10px;
  }

  .hamburger-inner:after {
    bottom: -10px;
  }

  .hamburger--slider .hamburger-inner {
    top: 2px;
  }

  .hamburger--slider .hamburger-inner:before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }

  .hamburger--slider .hamburger-inner:after {
    top: 20px;
  }

  .hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .hamburger--slider.is-active .hamburger-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  .hamburger--slider.is-active .hamburger-inner:after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
  }

  input[type="submit"],
  .introduction > ul > li > a,
  .lets-talk-buttons > ul > li > a,
  .view-all-case-studies > span > a {
    font-size: 12px;
  }

  .img-with-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .typography > img {
    width: 100%;
    margin-bottom: 32px;
  }

  #layered-images {
    margin: 0 -32px;
  }

  .work > a > img {
    width: 100%;
  }

  #contact-form {
    padding-bottom: 120px !important;
  }
  .introduction > ul > li:not(:last-child) {
    margin-right: 20px;
  }

  .lets-talk-buttons.project > ul {
    display: flex;
    justify-content: center;
  }

  .desktop {
    display: none !important;
  }
  header,
  #main {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer {
    padding: 20px 32px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .bio {
    margin: 0 auto;
  }

  .copyright {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }

  .footer > section .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer > section .icons > a {
    margin: 0 0;
  }

  h1 {
    font-size: 34px;
  }

  .hero-img > img {
    padding-right: 0px;
    width: 100%;
  }

  .text-description {
    font-size: 15px;
  }

  #navigation-bar > ul {
    position: fixed;
    flex-direction: column;
    align-content: center;
    background: rgba(227, 216, 212, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 120%;
    margin: 0 auto;
    padding: 0;
    padding-top: 102px;
    transition: left 0.2s ease-out;
  }

  #navigation-bar > ul.active {
    display: flex;
    left: 0px;
    transition: left 0.2s ease-out;
  }

  #navigation-bar > ul > li {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  .introduction > ul > li {
    font-size: 16px;
    padding: 4px 8px;
  }

  #cfm-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  #cfm-group > section {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 15vw);
  }

  .photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hiking-photo {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .boat-photo {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }

  .bangkok-photo {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  .tokyo-photo {
    grid-column: 1 / span 4;
    grid-row: 7 / span 2;
  }

  .new-york-photo {
    grid-column: 3 / span 2;
    grid-row: 1 / span 4;
  }

  .hawaii-photo {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }

  #about-me {
    display: flex;
    flex-direction: column-reverse;
  }

  #about-me > img {
    width: 100%;
    height: auto;
  }

  #storage > img {
    width: 96px;
    height: 100%;
  }

  .grid-img {
    width: 100%;
  }

  .grid-img img {
    width: 100%;
    padding-bottom: 16px;
  }

  .user-survey {
    margin-top: -32px;
    padding: 32px 0;
  }

  .user-survey .row {
    flex-wrap: wrap;
  }
  .user-survey .col {
    width: unset !important;
    margin: 32px 32px 0 32px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .case-studies a > img {
    width: 380px;
    height: 218px;
  }

  .case-studies > section {
    width: 50%;
  }

  .case-studies .text-description {
    width: unset;
  }

  .final-product > .row {
    display: flex;
    align-items: center;
  }
  h1 {
    line-height: 30px;
  }

  .meshi-video {
    width: 320px;
    height: 630px;
  }

  .inline > h3 {
    margin: 16px 0;
  }

  img.ios-screen-resolution {
    width: 315px !important;
    height: 679px !important;
  }

  img.ios-device-resolution {
    width: 320px !important;
    height: 630px !important;
  }

  .target-images-1 img {
    width: 315px !important;
    height: 679px !important;
  }

  #meshi-logo {
    height: 200px;
  }

  img[mobile] {
    position: fixed;
  }

  section.mobile-linking {
    display: none;
  }

  .final-product,
  .user-metrics,
  .user-survey,
  .slim .rounded-b-div,
  .slim .h3-icon,
  .slim ul,
  .slim ol,
  .slim p,
  .slim div.roles,
  .slim td,
  .slim hr {
    max-width: 757px;
    margin-right: auto;
    margin-left: auto;
  }

  img[alt="Color Swatches"] {
    padding: 0 64px;
  }

  .background-container {
    margin: 0 -120px;
  }

  .inset-img {
    padding: 0 120px;
    width: 100%;
  }

  .project-description p {
    max-width: 748px;
  }

  .contact-page-link {
    background: rgba(187, 167, 161, 0.7);
  }

  .background-container > * {
    padding: 0 120px;
  }

  header {
    background: linear-gradient(180deg, #fbefeb 0%, #ffffff 100%);
  }
  .introduction > ul > li > a,
  .lets-talk-buttons > ul > li > a,
  .view-all-case-studies > span > a {
    font-size: 14px;
  }

  #persona-table.desktop {
    margin: 0 auto;
    max-width: 757px;
  }

  .img-with-text,
  .typography {
    display: flex;
    margin: 0 auto;
    max-width: 757px;
  }

  .typography > img {
    width: 50%;
    height: auto;
  }

  .img-with-text {
    display: flex;
  }

  .img-with-text > * {
    width: 50%;
  }

  #layered-images {
    margin: 0 -136px;
  }

  .mobile {
    display: none !important;
  }

  section.roles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    line-height: 23px;
  }

  .wireframe-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }

  .wireframe-gallery > img {
    object-fit: contain;
    display: block;
    width: 100%;
    height: auto;
  }

  .wireframe-gallery.with-4 {
    display: flex;
    justify-content: center;
  }

  .wireframe-gallery.with-4 > img {
    margin: 0 8px;
  }

  #contact-body > footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .hr-div {
    margin: auto;
  }

  .design-process > .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 16px;
  }

  .design-process > .row .info {
    margin: 0 8px;
  }

  .design-process h3 {
    text-transform: uppercase;
  }

  .research-section {
    max-width: 757px;
    margin: 40px auto;
  }

  .color-swatches img {
    max-width: 757px;
  }
  .research-section > .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .design-process > .row {
    margin-right: 8px;
  }
  .introduction > ul > li:not(:last-child) {
    margin-right: 20px;
  }

  .grid-img {
    display: flex;
  }

  .grid-img > .col {
    width: 50%;
  }

  .grid-img > .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid-img img {
    width: 100%;
    height: auto;
  }

  .bio {
    margin: 0 auto;
    max-width: 680px;
  }

  .grid-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .homepage {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .dashboard {
    grid-column: 2;
    grid-row: 1;
  }

  .dashboard-dropdown {
    grid-column: 2;
    grid-row: 2;
  }

  .document-creator {
    grid-column: 2;
    grid-row: 3;
  }

  .public-file-search {
    grid-column: 2;
    grid-row: 4;
  }

  h1 {
    font-size: 34px;
  }

  header {
    padding: 0 120px;
    padding-bottom: 10px;
  }

  #contact-body > header {
    padding-bottom: 240px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .footer {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #main {
    padding-left: 120px;
    padding-right: 120px;
  }

  .text-description {
    width: 480px;
  }

  .copyright {
    font-size: 13px;
  }

  .work > p {
    width: 512px;
  }

  .work > a > img {
    max-width: 545px;
  }

  .menu {
    display: none;
  }

  #navigation-bar > ul > li:after,
  .underline > li:after {
    width: 0%;
    height: 2px;
    background-color: #bba7a1;
    content: "";
    transition: width 0.3s;
  }

  #navigation-bar > ul > li:hover:after {
    width: 100%;
  }

  .underline > li:hover:after {
    width: 90%; /** content extends beyond the borders of the button*/
  }

  .underline > li {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #nav-li-contact:hover {
    background: rgba(187, 167, 161, 0.7);
  }

  #navigation-bar > ul > li.border {
    border-radius: 32px;
    border: 1px solid #bba7a1;
  }

  .lets-talk-buttons {
    display: flex;
    justify-content: space-between;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    margin-top: 100px;
  }

  .photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hiking-photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .boat-photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 9;
  }

  .hawaii-photo {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .new-york-photo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .tokyo-photo {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .bangkok-photo {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  #about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 32px 0px;
    align-items: center;
  }

  .about-me {
    margin-left: 40px;
  }

  #cfm-group > section {
    width: 49%;
    display: inline-block;
  }

  input[type="text"],
  input[type="email"] {
    width: 70%;
  }

  textarea {
    width: 90%;
  }

  .project-main {
    margin: 0 300px;
  }

  .contact.project,
  .contact.hr {
    margin: 64px -250px;
  }

  .lets-talk-buttons.project {
    display: flex;
    justify-content: center;
  }

  .user-survey .col {
    width: 30%;
  }

  .busy-bus-video {
    display: block;
    height: 646px;
    width: 433px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .case-studies a > img {
    width: 545px;
    height: 313px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .project-main {
    margin: 0 16px;
  }

  .contact.project,
  .contact.hr {
    margin: 64px -80px;
  }
}

#contact-message > h1 {
  font-size: 50px;
}

#contact-message > p {
  font-size: 17px;
  line-height: 29px;
}

#cfm-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cfm-group a,
.full-case-study-link > a,
.center-link a {
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(to top, #ccb8bb 50%, #fff 50%);
  background-size: 100% 200%;
  color: #333333;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

.center-link-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  margin: 0 auto;
}
.center-link {
  display: inline-block;
}
.center-link > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-link > span:after {
  width: 0%;
  height: 2px;
  background-color: #bba7a1;
  content: "";
  transition: width 0.3s;
}

.center-link > span:hover:after {
  width: 100%;
}

#cfm-group a:hover,
.full-case-study-link:hover > a {
  background-position: 0% 100%;
  color: white;
}

.hover-link a {
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(to top, #ccb8bb 50%, #fff 50%);
  background-size: 100% 200%;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

.hover-link:hover a {
  background-position: 0% 100%;
  color: #333333;
}

#cfm-group p {
  padding: 8px 0;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ae8d92;
  border-radius: 8px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
  margin-top: 16px;
  background-color: transparent;
}

input[type="submit"]:hover {
  background-color: #ae8d92;
  color: white;
}

input[type="submit"] {
  font-size: 14px;
  border-radius: 20px;
  padding: 8px 32px;
  border: 3px solid #ae8d92;
  color: #ae8d92;
  font-weight: 600;
}

section.lessons {
  background: #e3d8d4;
  border-radius: 8px;
  padding: 8px 0;
}

section.lessons > ol {
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
}

.down-border {
  position: absolute;
  border: 3px dashed #bba7a1;
  z-index: -1;
  width: 100%;
  left: -8px;
  bottom: -8px;
  border-radius: 16px;
  height: 80%;
}

#honeycomb-logo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 853px;
}

#layered-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#layered-images > img:nth-child(1) {
  width: 100%;
  height: auto;
}

#layered-images > img:nth-child(2) {
  position: absolute;
  bottom: 0;
  max-width: 80%;
  text-align: center;
}

.roles {
  margin: 80px 0;
}

.roles tr {
  display: flex;
  flex-direction: row;
}

.hr-td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-div {
  height: 1px;
  background: #333;
  width: 64px;
}

.roles tr td {
  width: 33%;
  text-align: center;
}

.research td {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 16px 32px;
}

.research tr {
  display: flex;
  justify-content: center;
}

.research li {
  font-size: 17px;
  line-height: 29px;
}

#storage {
  display: flex;
  justify-content: space-evenly;
}

.center-link > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
  margin: 25px 0;
}

td.heading {
  display: flex;
  justify-content: flex-start;
}

td.center {
  text-align: center;
}

.infoarch > img {
  width: 100%;
  height: auto;
}

.block-images {
  display: flex;
  justify-content: center;
}

.block-images > div {
  margin: 0 8px;
}

.block-images img {
  width: 100%;
  height: auto;
}

section.branding > img,
section.branding > .color-swatches > img {
  width: 100%;
  height: auto;
}
.visualdesign > img {
  width: 100%;
  height: auto;
}

.typography > span {
  padding-left: 24px;
}

.desktop tr {
  justify-content: space-between;
}

.mobile td {
  width: unset !important;
}

.mobile th {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile hr {
  display: none;
}

.tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.research-section img {
  margin: 16px;
}

h1.rounded-background {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.h3-icon {
  display: flex;
  align-items: center;
}

.h3-icon:not(:nth-child(2)) {
  margin-top: 70px;
}

.h3-icon span {
  padding: 0 10px;
}

.features-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  height: 50px;
  width: 50px;
}

.menu-toggle.active {
  display: block;
}

.menu-toggle > * {
  transition: all 1s ease;
}
.menu-toggle > div {
  width: 50px;
  height: 2px;
  background: #ae8d92;
}

.menu-toggle.active > div {
  margin: unset;
}

.menu-toggle.active > div:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: top left;
}

.menu-toggle.active > div:nth-child(2) {
  width: 0px;
  transition: width 0.7s ease;
}

.menu-toggle.active > div:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

#light-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(51, 51, 51, 0.9);
}

#light-box > div {
  padding: 16px;
}

.lb-header {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}

.lb-header .close {
  opacity: 0.3;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.lb-header .close {
  opacity: 1;
}

.lb-header .close:before,
.lb-header .close:after {
  position: absolute;
  background-color: white;
  content: " ";
  width: 2px;
  height: 33px;
}

.lb-header .close:before {
  transform: rotate(45deg);
}

.lb-header .close:after {
  transform: rotate(-45deg);
}

.lb-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  padding: 16px;
  position: relative;
}

.lb-body img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.lb-footer {
  height: 120px;
}

.lb-footer {
  position: relative;
}

.lb-footer > .images {
  display: flex;
  position: absolute;
}

.lb-footer > .images {
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lb-footer img {
  width: 50px;
  opacity: 0.3;
  background: white;
  margin: 0 4px;
}

.lb-footer div.active img {
  opacity: 1;
  border: 2px solid white;
}
.lb-footer .light-box > div {
  z-index: 5;
}

li.active > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.active > a > div {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 150%;
  background: linear-gradient(45deg, #ae8d92, #e3d8d4);
  z-index: -1;
}

img light-box-item {
  cursor: pointer;
}

.show-on-scroll {
  opacity: 0;
  margin-left: 20px;
}

.show-on-scroll.is-visible {
  opacity: 1;
  transition: all 2.5s ease;
  margin-left: 0px;
}

.case-studies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -24px;
}

.case-studies > section {
  margin-top: 24px;
}

.case-studies > section a > img {
  object-fit: contain;
}
.linking-images,
.linking-links {
  display: flex;
  justify-content: space-between;
}

.linking-images > div {
  width: 50%;
  height: 282px;
  display: flex;
  justify-content: center;
}

.linking-images img {
  max-width: 100%;
  width: auto;
  height: 100%;
}

.linking-links > div {
  width: 50%;
  display: flex;
  justify-content: center;
}

section .linking a,
section .mobile-linking a {
  text-transform: none;
  font-size: 17px;
}

.center-link > img:first-child {
  margin-right: 8px;
}

.center-link > img:last-child {
  margin-left: 8px;
}
.linking-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-linking .previous,
.mobile-linking .next {
  display: flex;
  align-items: center;
}

.user-metrics {
  margin-bottom: 40px;
}

.user-metrics > span {
  font-weight: 600;
}

.user-metrics > .row {
  display: flex;
  margin: 16px 0;
  flex-wrap: wrap;
}

.user-metrics > .row > .col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: 8px 16px;
}

.user-metrics > .row > .col:first-child {
  padding-left: 0px;
}

.user-metrics > .row > .col:last-child {
  padding-right: 0px;
}

.user-metrics > .row > .col > span:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
  color: #ae8d92;
  line-height: 42px;
}

#persona-table img {
  width: 180px;
  height: 320px;
  object-fit: cover;
}

.final-product > .row > .col {
  margin: 16px;
}

.final-product > .row:nth-child(even) {
  flex-direction: row-reverse;
}

.final-product h3 {
  text-transform: none !important;
  font-weight: 400;
  font-size: 22px;
}

.project-description.meshi {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
}

.caption {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

.user-survey > .row {
  display: flex;
  justify-content: space-between;
}

.user-survey .col {
  display: flex;
  flex-direction: column;
  background-color: #e3d8d4;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.user-survey .col > span:first-child {
  font-size: 36px;
  font-weight: 600;
  margin: 15px 0;
}
