* {
  box-sizing: border-box;
}

html,
body {
  color: #333333;
  overflow-x: hidden;
  height: 100%;
}

* {
  font-family: "Work Sans";
}

.menu {
  z-index: 1;
  background: #e3d8d4;
  padding: 4px;
}

.menu > img {
  src: "../images/sketch.png";
}

body {
  margin: 0 auto;
  background: linear-gradient(180deg, #fbefeb 0%, #ffffff 100%);
}

p {
  font-size: 17px;
  line-height: 25px;
}

hr {
  margin: 80px 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 32px;
}

h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

td {
  font-size: 17px;
  line-height: 25px;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.85;
}

#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

#navigation-bar > ul {
  display: flex;
}

#navigation-bar > ul > li {
  list-style-type: none;
  font-size: 20px;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#navigation-bar > ul > li.border {
  border-radius: 32px;
  border: 1px solid #bba7a1;
}

#navigation-bar > ul > li.active {
  font-weight: 600;
}

#navigation-bar > ul > li:after {
  width: 0%;
  height: 2px;
  background-color: #bba7a1;
  content: "";
  transition: width 0.3s;
}

#navigation-bar > ul > li:hover:after {
  width: 100%;
}

#navigation-bar > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}

.hero-img {
  text-align: right;
}
.hero-img > img {
  padding-right: 80px;
}

.introduction > ul {
  display: flex;
}

.introduction > ul > li {
  border: 3px solid #ae8d92;
  list-style-type: none;
  padding: 4px 32px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction > ul > li.inverted {
  color: white;
  background-color: #ae8d92;
}

.introduction > ul > li:not(:last-child) {
  margin-right: 24px;
}

.introduction > ul > li > a {
  text-decoration: none;
  color: #ae8d92;
}

#li-contact {
  background-color: #ae8d92;
}

#li-contact > a {
  color: white;
}

#li-contact:hover > a {
  color: #ae8d92;
}

#li-contact:hover {
  background-color: transparent;
}

#li-read-more:hover {
  background-color: #ae8d92;
}

#li-read-more:hover > a {
  color: white;
}
.work > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work > ul > li {
  list-style-type: none;
  color: #ffffff;
  background-color: #ccb8bb;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 14px;
  margin-bottom: 4px;
}

.work > ul > li:not(:last-child) {
  margin-right: 16px;
}

.flex-list {
  display: flex;
  padding-left: 0px;
  align-items: center;
}

.full-case-study-link {
  display: flex;
  align-items: center;
}

.full-case-study-link > a {
  color: #333333;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  text-decoration: none;
}

.full-case-study-link {
  color: #333333;
}

.view-all-case-studies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-case-studies > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ae8d92;
  border-radius: 20px;
  padding: 4px 48px;
}

.view-all-case-studies > span > a {
  color: #ae8d92;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.process > img {
  width: 100%;
}

.lets-talk-buttons > p {
  width: 512px;
}

.lets-talk-buttons > ul > li {
  border: 3px solid #ae8d92;
  list-style-type: none;
  border-radius: 20px;
  width: 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.lets-talk-buttons > ul > li:not(:last-child) {
  margin-right: 16px;
}

.lets-talk-buttons > ul > li > a {
  color: #ae8d92;
  margin: 8px auto;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.lets-talk-buttons.project > ul > li {
  width: 100%;
  margin: 8px 8px;
}

#main {
  margin-bottom: 100px;
}

.footer {
  height: 160px;
  background: #bba7a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons > a {
  margin-right: 40px;
}

.copyright > p {
  color: #f8f7f4;
  letter-spacing: 0.2em;
}

table {
  width: 100%;
}

/** Project Page */
.project-description {
  text-align: center;
}

.return-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #ae8d92;
  cursor: pointer;
}

.return-to-top > img {
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  #contact-form {
    padding-bottom: 120px !important;
  }
  .lets-talk-buttons.project > ul {
    display: unset !important;
  }

  .desktop {
    display: none;
  }
  header,
  #main,
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .copyright {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }

  .footer > section .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer > section .icons > a {
    margin: 0 0;
  }

  h1 {
    font-size: 34px;
  }

  .hero-img > img {
    padding-right: 0px;
    width: 100%;
  }

  .text-description {
    font-size: 15px;
  }

  #navigation-bar > ul {
    align-content: center;
    background: rgba(227, 216, 212, 0.85);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    padding-top: 102px;
  }

  #navigation-bar > ul > li {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  .introduction > ul > li {
    font-size: 16px;
    padding: 4px 8px;
  }

  #cfm-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  #cfm-group > section {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 15vw);
  }

  .photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hiking-photo {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .boat-photo {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }

  .bangkok-photo {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  .tokyo-photo {
    grid-column: 1 / span 4;
    grid-row: 7 / span 2;
  }

  .new-york-photo {
    grid-column: 3 / span 2;
    grid-row: 1 / span 4;
  }

  .hawaii-photo {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }

  #about-me {
    display: flex;
    flex-direction: column-reverse;
  }

  #about-me > img {
    width: 100%;
    height: auto;
  }

  #storage > img {
    width: 96px;
    height: auto;
  }

  .grid-img {
    width: 100%;
  }
  .grid-img > img {
    width: 100%;
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 13vw);
  }

  .grid-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .homepage {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .dashboard {
    grid-column: 2;
    grid-row: 1;
  }

  .dashboard-dropdown {
    grid-column: 2;
    grid-row: 2;
  }

  .document-creator {
    grid-column: 2;
    grid-row: 3;
  }

  .public-file-search {
    grid-column: 2;
    grid-row: 4;
  }

  h1 {
    font-size: 34px;
  }
  header {
    margin: 0 120px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .footer {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #main {
    padding-left: 120px;
    padding-right: 120px;
  }

  .text-description {
    width: 480px;
  }

  .copyright {
    font-size: 13px;
  }

  .work > p {
    width: 512px;
  }

  .work > a > img {
    max-width: 303px;
  }

  .menu > img {
    display: none;
  }

  .lets-talk-buttons {
    display: flex;
    justify-content: space-between;
  }

  .photos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
  }

  .photos > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hiking-photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .boat-photo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 9;
  }

  .hawaii-photo {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .new-york-photo {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .tokyo-photo {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .bangkok-photo {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  #about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 32px 0px;
  }

  .about-me {
    margin-left: 40px;
  }

  .bio {
    margin: 0 240px;
  }

  #cfm-group > section {
    width: 49%;
    display: inline-block;
  }

  input[type="text"],
  input[type="email"] {
    width: 70%;
  }

  textarea {
    width: 90%;
  }

  .project-main {
    margin: 0 300px;
  }

  .contact.project,
  .contact.hr {
    margin: 64px -250px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .project-main {
    margin: 0 16px;
  }

  .contact.project,
  .contact.hr {
    margin: 64px -80px;
  }
}
#contact-body > footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#contact-message > h1 {
  font-size: 50px;
}

#contact-message > p {
  font-size: 17px;
}

#cfm-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ae8d92;
  border-radius: 8px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
  margin-top: 16px;
  background-color: transparent;
}

input[type="submit"] {
  border-radius: 20px;
  padding: 8px 32px;
  border: 3px solid #ae8d92;
}

section.lessons {
  background: #e3d8d4;
  border-radius: 8px;
  padding: 8px 0;
}

section.lessons > ol {
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
}

.down-border {
  position: absolute;
  border: 3px dashed #bba7a1;
  z-index: -1;
  width: 100%;
  left: -8px;
  bottom: -8px;
  border-radius: 16px;
  height: 80%;
}

#honeycomb-logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#layered-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; /** Ensures this is moved behind the menu */
}

#layered-images > img:nth-child(1) {
  width: 100%;
  height: auto;
}

#layered-images > img:nth-child(2) {
  position: absolute;
  width: 50%;
  text-align: center;
}

#honey-comb-first-look {
  /* width: calc(100% + 64px); */
  /* margin-left: -32px; */
}

.roles {
  margin: 80px 0;
}

.roles h3 {
  /* text-transform: uppercase; */
}

.roles tr {
  display: flex;
  flex-direction: row;
}

.hr-td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roles hr {
  margin: auto auto;
  width: 50%;
  background: black;
}

.roles tr td {
  width: 33%;
  text-align: center;
}

#main section h3 {
  display: flex;
  align-items: center;
  margin: 40px auto;
  text-transform: capitalize;
}

.research td {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 16px 32px;
}

.research tr {
  display: flex;
  justify-content: center;
}

.research li {
  font-size: 17px;
  line-height: 25px;
}

#storage {
  display: flex;
  justify-content: space-evenly;
}

.center-link > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-size: 14px;
}

td.heading {
  display: flex;
  justify-content: flex-start;
}

td.center {
  text-align: center;
}

.infoarch > img {
  width: 100%;
  height: auto;
}

.block-images {
  display: flex;
}
.block-images > div {
  width: 50%;
  padding: 16px;
}

.block-images > div > img {
  width: 100%;
  height: auto;
}

.inset-img {
  padding: 0 120px;
  width: 100%;
}

.img-with-text {
  display: flex;
}

section.branding > img {
  width: 100%;
}
.visualdesign > img {
  width: 100%;
}

.typography {
  display: flex;
}

.typography > img {
  width: 50%;
  height: auto;
}

.typography > span {
  padding-left: 24px;
}

img[alt="Color Swatches"] {
  padding: 0 64px;
}

.desktop tr {
  justify-content: space-between;
}

.mobile td {
  width: unset !important;
}

.mobile th {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile hr {
  display: none;
}
